DEEPSEEK_API_KEY=your_deepseek_api_key
ARK_API_KEY=your_volcengine_ark_api_key
ZIZHI_ROUTER_ENABLED=1
ZIZHI_ROUTER_PROVIDER=ark
ZIZHI_ROUTER_MODEL=doubao-seed-2-0-mini-260215
ZIZHI_ROUTER_BASE_URL=https://ark.cn-beijing.volces.com/api/v3
ZIZHI_ROUTER_CONFIDENCE_THRESHOLD=0.72
ZIZHI_ROUTER_TIMEOUT_SECONDS=20
